*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f5f5f5;
}

.viewer-header{
    height:60px;
    background:#2563eb;
    color:#fff;

    display:flex;
    align-items:center;
    gap:15px;

    padding:0 15px;
}

#backBtn{
    border:none;
    background:#fff;
    color:#2563eb;
    padding:8px 14px;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

.viewer-container{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    padding:20px;
    padding-bottom:170px;
    overflow:auto;
    height:calc(100vh - 60px);
}

#pdfCanvas{
    max-width:100%;
    height:auto;
    box-shadow:0 4px 12px rgba(0,0,0,.2);
    background:#fff;
}

.page-info{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:15px;

    margin-bottom:20px;

    flex-wrap:wrap;

}

.page-info button{

    padding:10px 18px;

    border:none;

    border-radius:8px;

    cursor:pointer;

    background:#2563eb;

    color:#fff;

    font-weight:bold;

}

#pageNumber{

    font-size:18px;

    font-weight:bold;

}

.viewer-controls{

    position:fixed;

    bottom:0;

    left:0;

    width:100%;

    background:#2563eb;

    color:#fff;

    padding:10px;

    box-shadow:0 -2px 8px rgba(0,0,0,.25);

}

#pageNumber{

    text-align:center;

    font-size:22px;

    font-weight:bold;

    margin-bottom:12px;

}

.nav-row{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.nav-row button{

    width:70px;

    height:45px;

    border:none;

    border-radius:8px;

    font-size:22px;

    cursor:pointer;

}

.tool-row{

    margin-top:12px;

    display:flex;

    justify-content:center;

    gap:25px;

}

.tool-row button{

    width:50px;

    height:50px;

    border:none;

    border-radius:50%;

    font-size:22px;

    cursor:pointer;

}
