.diagram-wrapper{

display:flex;

justify-content:center;

align-items:center;

margin:30px auto;

max-width:900px;

}

.diagram-wrapper svg{

width:100%;

max-width:650px;

height:auto;

cursor:pointer;

transition:.25s;

}

.organelle{

cursor:pointer;

transition:.25s;

}

.organelle:hover{

filter:brightness(1.08);

transform:scale(1.02);

}
